
<SiraTable
    style={{width: "100%", height: "200px"}}
    id="infoTemplate"
    rowSelection={false}
    onCellClicked={props.onCellClicked}
    profile={model.profile}
    columns={[
        {
            width: 30,
            headerName: '',
            cellRenderer: reactCellRendererFactory(GoToDetail),
        }, {
            headerName: '',
            hide: true,
            width: 90,
            field: 'id',
            xpath: "@gml:id",
        }, {
            headerName: 'Codice SIRA',
            width: 90,
            field: 'codice',
            xpath: "sira:impianto/sira:Sede/sira:codiceSira/text()"
        }, {
            headerName: 'Codice fiscale (P.IVA)',
            field: 'codicefisc',
            xpath: "sira:istanza/sira:IstanzaAutorizzativa/sira:codiceFiscale/text()",
            profiles: ["B"]
        }, {
            headerName: 'Comune',
            width: 100,
            field: 'comune',
            "xpath": ["sira:impianto/sira:Sede/sira:comune/text()"],
        }, {
            headerName: 'Autorizzazioni ambientali',
            width: 200,
            field: 'autamb',
            xpath: "sira:attivita/sira:Attivita/sira:descrizione/text()"
        }
    ]}
    features={model.getValue("/wfs:FeatureCollection/gml:featureMembers/sira:AutorizzazioneUnicaAmbientale")}/>
